<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- La cadena que use para el examen:-->
		<!-- <add name="connectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=pruebademo;Integrated Security=True;" -->
		<!-- La que pidieron:-->
		<add name="connectionString" connectionString="Server=localhost;Uid=sa;Pwd=sasa;MultipleActiveResultSets=True;Timeout=120;Database=pruebademo;"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>